NODE_ENV=development

PORT=3000

DATABASE_URL="postgresql://username:password@localhost:5432/apikey_manager"

POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
POSTGRES_DB="apikey_manager"

REDIS_HOST="localhost"
REDIS_PORT="6379"
RATE_LIMIT_MAX=10
RATE_LIMIT_WINDOW_SECONDS=60

JWT_ACCESS_SECRET="jwt_access_secret"
JWT_REFRESH_SECRET="jwt_refresh_secret"
JWT_ACCESS_EXPIRY=3600 # 1 hour
JWT_REFRESH_EXPIRY=604800 # 7 days in seconds